{% extends 'main.html' %}
{% block content %}
</br>
<style>
    #cent {
  position:absolute;
  top: 20%;
  left:20%;
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px lightgrey;
  height: 300px;
  width: 500px;
  background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.479) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
  text-align: center;
 
}
#cent1 {
  position:absolute;
  top: 23%;
  /* left:20%; */
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px lightgrey;
  height: 230px;
  width: 500px;
 
  background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.479) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
  /* background-color:rgb(255, 255, 255); */
            text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}
</style>
<div style="padding-top: 4vh;height: 100vh; background-color:rgba(129, 139, 143, 0.822);">
    <div id=cent>
        <div style="font-size: 3rem; color: rgb(7, 7, 7); margin-top: 3vh">Decrypted text:<br></div>
      <div id=cent1>
        <div style="font-size: 1rem; color: rgb(7, 7, 7); margin-top: 3vh; font-family: 'Press Start 2P', cursive;">{{decryptext}}</div>    
      </div>
    </div>
 
</div>
{% endblock %}
