{% extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<style>
    #imgblock{
        border: 2px solid gray;
        box-shadow: 1px 1px 1px 1px whitesmoke;
        width: 50vw;
        height: 50vh;
        margin-left: 25vw;
    }
    .downloadbox{
        border: 1px solid black;
     
    }
</style>
<div style="padding-top: 5vh;height: 100vh; background-color:rgba(129, 139, 143, 0.822);">
    <p style="text-align: center; padding-top: 10vh; font-size: 2rem; font-style:oblique;">Encrypted Image :</p>
    <br>
    <div id=imgblock>
        
        <img src="{% static "media/enimg.jpg" %}" alt="encryptedimage" style="width:100%; height:100%"> 
      
    </div>
    <br>
    <div style="padding-left: 51vw;" >
   <a href="{{ imgdata.encryptimg.url }}" download="encryptedimg" >
    <button class="downloadbox" type="submit" value="Downloadimg" style="width: 25vw;height: max-content; font-size: 2rem;background: darkslateblue;">Downloadimg</button>
    </a>
</div>
  </div>
{% endblock %}