{% extends 'main.html' %}

{% block content %}
<br>
<div class="container">
    <form method="POST" action="{% url 'imgencrypt' %}" enctype="multipart/form-data" >
      {% csrf_token %}
      <label for="encrypt">Select Image:</label>
      <input type="file" name="image"/>
    </br>
      <br>
      <label for="pwd">Password:</label>
      <input type="text" placeholder="Password" name="passkey">
      <br>
      <input type="submit" value="Encrypt" >
      
    </form>
  </div>
{% endblock %}