{% load static %}

  <nav style="background-color: black;">
    <div id="logo" ><a href="{% url 'home' %}"><img src="{% static "media/logo.png" %}" alt="dfs"></a> 
    </div> 
   
    <ul class="nav-links">
      <li> <a href="{% url 'home' %}">CIPHER</a> </li>
     <li> <a href="{% url 'encrypt' %}">EncryptText</a> </li>
     <li> <a href="{% url 'encrypt' %}">EncryptIMG</a> </li>
    <li> <a href="{% url 'decrypt' %}">DecryptText</a> </li>
     <li> <a href="{% url 'decrypt' %}">DecryptIMG</a> </li>
     <!-- <li><input type="text" placeholder="Search.."></li> -->
   </ul>
   
   <div class="burger">
     <div class="line1"></div>
     <div class="line2"></div>
     <div class="line3"></div>
   </div>
 </nav>
