*{
  margin: 0px;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#cent {
  position:absolute;
  top: 20%;
  left:20%;
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px lightgrey;
  height: 50vh;
  width: 60vw;
  background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.479) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
  text-align: center;
}
/* #cent1 {
  position:absolute;
  top: 23%;
  /* left:20%; */
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px lightgrey;
  height: 230px;
  width: 500px;
 
  background: linear-gradient(112.91deg,
            rgba(255, 255, 255, 0.479) 3.51%,
            rgba(255, 255, 255, 0) 111.71%);
  /* background-color:rgb(255, 255, 255); */
            text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
} */
.button {
  background-color: #0e0f0f; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1vw;
}
.container {
  border-radius: 5px;
  background-color: #ccc8c8;
  padding: 20px;
  position: relative;
  margin-top: 20px;
  height:100vh;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(231, 229, 229); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 15px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #070707;
    color:white;
    padding: 12px 20px;
    border: none;
    margin-left: 44%;
    margin-top: 7%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: white;
    align-content: center;
    color:black;
  }
  
  /* Add a background color and some padding around the form */
  
  
nav {
      display: flex;
    
  
      align-items: center;
      position: fixed;
      width: 100%;
      height: 50px;
      z-index: 100;
    }
    ul {
      list-style: none;
    }
    .buttonHolder{ text-align: center; }
    .nav-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
    }
    .nav-links li {
      list-style: none;
    }
    .nav-links li a {
      text-decoration: none;
      font-size: 1.3vw;
      color: white;
      text-decoration: none;
      letter-spacing: 2px;
    }
  /* #logo{
    height: 10px;
    width: 20px;
  }  */
  .burger {
      display: none;
      margin-left: 70vw;
    }
    .burger div {
      width: 25px;
      height: 3px;
      background-color: rgb(226, 226, 226);
      margin: 5px;
      transition: all 0.3s ease;
    }
    #logo img {
      padding-top:2px;
      width: 3vw;
      /* height: 5vh; */
      margin: 5vw 0;
      margin-left: 0vw;
    }
    /* ****background-color_class****** */
    .bgColor {
      background-color: rgba(75, 41, 124, 0.5);
      width: 100%;
      position: fixed;
      /* -webkit-position:sticky; */
      /* top:0; */
      z-index: 100;
    }
    /* **animation styling*** */
    .button_scroll {
      fill: unset;
      border: none;
      position: fixed;
      background: #B5076B;
      box-shadow: inset 5px -6px 10px rgba(0, 0, 0, 0.25), inset -5px 5px 8px rgba(176, 71, 131, 0.82);
      border-radius: 50%;
      right: 3vw;
      bottom: 3vw;
      width: 4vw;
      height: 4vw;
      z-index: 3;
      padding: 0.5vw;
    }
    .button_scroll #contact {
      display: none;
    }
    
    @media only screen and (max-width: 768px) {
      body {
        overflow-x: hidden;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      #logo img {
        padding-top: 0.7vh;
        width: 8vw;
      }
      nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(75, 41, 124, 0.5);
        height: 10vh;
        z-index: 2;
      }
      .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: rgba(148, 148, 150, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
      .nav-links li a {
        color: rgb(8, 0, 0);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
      }
      .nav-links li {
        opacity: 0;
      }
      .burger {
        display: block;
        cursor: pointer;
      }
    }
    .nav-active {
      transform: translateX(0%);
    }
    /* input[type=submit] {
      background-color: #070707;
      color:white;
      padding: 12px 20px;
      border: none;
      margin-left: 75px;
      border-radius: 4px;
      cursor: pointer;
    }
    */
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }