{% extends 'main.html' %}
{% block content %}
</br>
<div style="padding-top: 4vh;height: 100vh; background-color:rgba(129, 139, 143, 0.822);">
  <div id=cent>
      <div style="font-size: 3rem; color: rgb(7, 7, 7); margin-top: 3vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Decrypted text:<br></div>
    <div id=cent1>
      <div style="font-size: 1rem; color: rgb(7, 7, 7); margin-top: 3vh; font-family: 'Press Start 2P', cursive;" >{{decryptext}}</div>    
    </div>
  </div>
</div>
{% endblock %}
